@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body {
      font-family: "Urbanist", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

@plugin "daisyui" {
      themes: light --default
}

@plugin "daisyui/theme" {
      name: "light";
      default: true;
      --color-primary: #0d363c;
      --color-secondary: #1da03f;
}

.roboto {
      font-family: "Roboto", sans-serif;
}



.btnPrimary {
      @apply px-6 py-2 text-center rounded-full text-base font-semibold bg-[#1da03f] text-white border border-[#1da03f] hover:bg-[#EAECED] hover:text-[#1da03f] transition duration-300;
}

.btnOutline {
      @apply px-6 py-2 text-center rounded-full text-base font-semibold bg-transparent text-[#1da03f] border border-[#1da03f] hover:bg-[#1da03f] hover:text-white transition duration-300;
}

.profileBtn {
      @apply px-4 py-1 text-center rounded-full text-base font-semibold bg-transparent text-[#1da03f] border border-[#1da03f] hover:bg-[#1da03f] hover:text-white transition duration-300;
}